.logo-q {
  .link {
    text-decoration: none;
    color: inherit;
    .logo {
      font-family: "Albert Sans";
      font-weight: 400;
      text-align: center;
      color: var(--mantine-color-text);
    }
  }
}
