body {
  -webkit-tap-highlight-color: transparent;
  font-weight: 400;
}

.mantine-Modal-header {
  background-color: var(--mantine-color-gray-light);
  h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
  }
  button {
    svg {
      stroke-width: 2px;
    }
  }
}

.mantine-Modal-body {
  padding-top: var(--mantine-spacing-sm);
  padding-bottom: var(--mantine-spacing-sm);
}
